<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tokimon - Trainer</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Nav.css">
</head>
<body>
  <div class="nav-bar">
    <div class="nav-bar-align">
      <ul>
        <li class="nav-link">
          <a class="nav-font" href="/home">Home</a>
        </li>
        <li class="nav-link">
          <a class="nav-font" href="/trainersinfo">Trainers</a>
        </li>
        <li class="nav-link">
          <a class="nav-font" href="/new">Add</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="table-container">
      <div class="title-font">Trainers</div>
      <table id="table">
        <tr>
          <th class="th-id">#</th>
          <th class="th-trainer">Trainer</th>
          <th class="th-num">Number of Tokimons</th>
        </tr>
        <% rows.forEach((e, idx) => { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><a class="link" title="Details" href="/trainer?trainer=<%= e.trainer %>"><%= e.trainer %></a></td>
            <td><%= e.num %></td>
          </tr>
        <% }) %>
      </table>
    </div>
  </div>
</body>
</html>